<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="padding: 1rem;">
<section
        style="display:flex; flex-direction: column; justify-content: center; border-top: 2px solid #025eda; border-bottom: 2px solid #025eda; padding: 20px 0;">
    <img src="https://i.imgur.com/ZKrueGx.png" style="width: 140px"/>
    <div class="title__container" style="padding-top: 1rem">
        <h1><span style="color: #025eda">비품인</span> 임시 2차 비밀번호</h1>
    </div>
    <div>
        <p>안녕하세요. 비품관리 시스템 비품인 입니다.<br>
            요청하신 임시 2차 비밀번호는 다음과 같습니다.</p>
    </div>

    <div style="display:flex; width: 100%; height: 20px; border-radius: 10px; background-color: #f3f4f1; padding: 2rem">
        <span id="pwCode" style="font-size: 1.2rem; font-weight: 700;"></span>
    </div>
    <div>
        <p>임시 비밀번호를 사용해서 로그인 하신 후 <span style="background:linear-gradient(180deg,rgba(255,255,255,0) 50%, gold 50%">바로 비밀번호를 변경하셔서 이용해</span>
            주시기 바랍니다.
        </p>
    </div>
    <div style="padding-top: 2rem">
        <span>다른 문의 사항이 있으시면 <a href="http://hanghae77.s3-website.ap-northeast-2.amazonaws.com/"
                                style="background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgb(215 226 255) 50%);text-decoration: inherit;color: inherit;">비품인</a> 채널톡으로 문의 바랍니다.</span>
    </div>
</section>
</body>
</html>