<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            padding: 1rem;
        }
        a {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgb(215, 226, 255) 50%);
            text-decoration: inherit;
            color: inherit;
        }
    </style>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td>
            <img src="https://i.imgur.com/ZKrueGx.png" style="width: 140px" alt="Logo" />
        </td>
    </tr>
    <tr>
        <td>
            <h1><span style="color: #025eda">비품인</span> 임시 2차 비밀번호</h1>
        </td>
    </tr>
    <tr>
        <td align="left">
            <p>안녕하세요. 비품관리 시스템 비품인 입니다.<br>
                요청하신 임시 2차 비밀번호는 다음과 같습니다.</p>
        </td>
    </tr>
    <tr>
        <td align="center" style="background-color: #f3f4f1; border-radius: 10px; padding: 2rem;">
            <span id="pwCode" style="font-size: 1.2rem; font-weight: 700;"></span>
        </td>
    </tr>
    <tr>
        <td align="left">
            <p>임시 비밀번호를 사용해서 로그인 하신 후, 임시 비밀번호는  <span style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, gold 50%)">가능한 빠른 시간 내에 비밀번호를 변경</span>해주세요.</p>
        </td>
    </tr>
    <tr>
        <td align="left" style="padding-top: 2rem;">
        <span>다른 문의 사항이 있으시면 <a href="http://hanghae77.s3-website.ap-northeast-2.amazonaws.com/">
비품인</a> 채널톡으로 문의 바랍니다.</span>
        </td>
    </tr>
</table>
</body>
</html>